
<!DOCTYPE html>
<html lang="en">
<head>
  
{% load widget_tweaks %}
  <title>Greedymusic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  

  <link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery-3.0.0.min.js"></script>
  
  <link href="/static/autocomplete_light/css/select2.css" type="text/css" media="all" rel="stylesheet" />
  <link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/js/select2.full.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>

  </style>
  

</head>



<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/tracks/">Greedymusic</a>
      </div>
      
      <ul class="nav navbar-nav">
       <li> 
          <form role="search" class="navbar-form navbar-left" action="/search_redirect_track/" method="POST" >
            <input type='hidden' name='csrfmiddlewaretoken' value='CU1WpkagfYXXR6Laq7IlVTYegeQPJgsf' />
            
                <div class="form-group">
                  <label for="id_Search_track">Search track</label> 
                    <select class="form-control" data-autocomplete-light-function="select2" data-autocomplete-light-url="/auto-complete/" id="id_Search_track" name="Search_track" placeholder="Enter track title">
<option value="" selected="selected">---------</option>
</select>
                  </div>
             
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </li>
     
       <li> 
          <form role="search" class="navbar-form navbar-left" action="/search_redirect_genre/" method="POST" >
            <input type='hidden' name='csrfmiddlewaretoken' value='CU1WpkagfYXXR6Laq7IlVTYegeQPJgsf' />
            
                <div class="form-group">
                  <label for="id_Search_genre">Search genre</label> 
                    <select class="form-control" data-autocomplete-light-function="select2" data-autocomplete-light-url="/auto-complete-genre/" id="id_Search_genre" name="Search_genre" placeholder="Search by genre">
<option value="" selected="selected">---------</option>
</select>
                  </div>
             
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </li>
      
      <li><a href='/genres/'>List of genres </a></li>
      <li><a href="/add_track">Add track</a></li>
      <li><a href="/add_genre">Add genre</a></li>
      </ul>

    </div>
  </nav>


                        {% block content %}
                        {% endblock %}

      <div class="container">
        <br><br><br>

        {% if message %}
          <div class="alert alert-warning">
               <strong>{{ message }}</strong> 
          </div>
       {% endif %}
      </div>



    </body>
</html>

